<!DOCTYPE html>
<html>
<head>
	<title>GoJunket</title>
</head>
<body>

<%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Name" %>
  <%= submit_tag "Find GoJunkie", :name => nil %>
<% end %>

<h2>Wanna GoJunket?</h2>
<h4>Who, what, where, and when?</h4>
	<p>Guy or Girl? (Gender)</p>
	<p>Age range? (Age)</p>
	<p>What languages do you want this person to speak? (Languages)</p>
	<p>Relationship status? (Relationship Status)</p>
	<p>Orientation? (Orientation)</p>
	<p>Education? (Education)</p>
	<p>Has kiddos? (Has Kids)</p>
	<p>Drinks? (Drinks)</p>
	<p>Smokes? (Smokes)</p>
	<p>What would you like this person to be interested in? (Interests)</p>
	<p>What do you feel like doing? (Where?)</p>
	<p>When do you want to do it? (When?)</p>

<button type="submit" form="form1" value="Submit">Find a GoJunkie</button>

</body>
</html>  
