<!DOCTYPE html>
<html>
<head>
	<title>GoJunket</title>
</head>
<body>

<h2>Wanna GoJunket?</h2>
<h4>Who, where, and when?</h4>
<p>Age</p>
<p>Gender</p>
<p>Languages</p>
<p>Relationship Status</p>
<p>Orientation</p>
<p>Education</p>
<p>Has Kids</p>
<p>Drinks</p>
<p>Smokes</p>
<p>Interests</p>
<p>Where?</p>
<p>When?</p>

</body>
</html>